{% extends 'navbar.html' %}

{% block content_block %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-7" id="kami-mengimplementasi">
            Kami mengimplementasi AI untuk kebaikan masyarakat.
        </div>
    </div>
    <div class="row justify-content-center anggota">
        <div class="col-4">
            <img src="/src/images/sandha.png" alt="">
            <p class="nama-npm">Amrisandha P. Prasetyo 1806205400</p>
        </div>
        <div class="col-4">
            <img src="/src/images/zakiy.png" alt="">
            <p class="nama-npm">M. Zakiy Saputra 1806205741</p>
        </div>
        <div class="col-4">
            <img src="/src/images/vian.png" alt="">
            <p class="nama-npm">Rony Agus Vian 1806205691</p>
        </div>
    </div>
    <div class="row justify-content-center anggota">
        <div class="col-6">
            <img src="/src/images/steven.png" alt="">
            <p class="nama-npm bawah">Steven Ciayadi 1806205104</p>
        </div>
        <div class="col-6">
            <img src="/src/images/zafira.png" alt="">
            <p class="nama-npm bawah">Zafira Binta F. 1806205155</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-5" id="dibuat-dengan">
            Dibuat dengan ❤️ oleh Aye Eye
        </div>
    </div>
    <div class="row justify-content-center">
    </div>
    <div class="row justify-content-center">
    </div>
    <div class="row justify-content-center">
    </div>
</div>


{% endblock content_block %}