{% extends 'navbar.html' %}

{% block content_block %}



<style src="css/style.css"></style>
<div class=" m-10 p-10 container" style="margin-top:50px">
    <div class="row">
    
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="row">
        <p id="nama-rs">{{rs.1}}</p><br>
        <h6 id="jumlah-kasus-rs">{{rs.5}} Kasus Aktif Kecamatan</h6><br>
        <h6 id="alamat-rs">{{rs.2}}</h6><br>
        <a id="no-telp-rs" href={{rs.4}}>{{rs.3}}</a>
        </div>
    </div>
    
        
        
        
    
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mx-auto d-block img-responsive" alt="200x200">
        {% load static %}
        <img src="{% static 'images/' %}{{rs.0}}.jpg" style="width:400px; margin-top:25px">
    </div>
    
        </div>
    
    
    
    
    
    
    <div class="row" style="margin-top: 50px">
            <p id="ketersediaan-kamar-title">Ketersediaan Kamar</p><br>
        </div>
    

    <div class="row">
        <br>
        </div>
    
    
    <div class="row">
    <div class="col">
            <p class="tingkat-title">VIP </p>
            <p class="jumlah-kamar">{{rs.6}}</p> 
        </div>

        
        <div class="col">
            <p class="tingkat-title">Kelas I </p>
         <p class="jumlah-kamar">{{rs.7}}</p>
         </div>

        
        <div class="col">
            <p class="tingkat-title">Kelas II </p>
         <p class="jumlah-kamar">{{rs.8}}</p>
         </div>
    
        
    </div>
    
    
    <div class="row">
         <br>
         </div>
    
    
    <div class="row">
    
        <div class="col">
            <p class="tingkat-title">Kelas III </p>
         <p class="jumlah-kamar">{{rs.9}}</p>
         </div>
    
        
        <div class="col">
            <p class="tingkat-title">ICU </p>
         <p class="jumlah-kamar">{{rs.10}}</p>
         </div>
        
    
        <div class="col">
            <p class="tingkat-title">NICU </p>
         <p class="jumlah-kamar">{{rs.11}}</p>
         </div>
    
    </div>
    
    
    <div class="row">
         <br>
         </div>
    
    
    
    
    
    
    
    <div class="row">
        <div class="col">
            <p class="tingkat-title">PICU </p>
         <p class="jumlah-kamar">{{rs.12}}</p>
         </div>
    
    
        <div class="col">
            <p class="tingkat-title">HCU </p> 
         <p class="jumlah-kamar">{{rs.13}}</p>
         </div>
    
    
        <div class="col">
            <p class="tingkat-title">ICCU </p>
         <p class="jumlah-kamar">{{rs.14}}</p>
         </div>
    
    </div>
    
    
    <div class="row">
         <br>
         </div>
    
    <div class="row">
        <div class="col">
            <p class="tingkat-title">Isolasi </p>
         <p class="jumlah-kamar">{{rs.15}}</p>
         </div>
    </div>
    
    
</div>

{% endblock content_block %}