{% extends 'navbar.html' %}

{% block content_block %}

<div class="container">
  <div class="row" id="welcome">
    <div class="col">
      <img src="/src/images/bed.png" style="width: 490px; height: 390px;">
    </div>
    <div class="col">
      <p id="lindungi_diri">Lindungi Diri Anda dan Orang Terdekat Anda.</p><br>
      <p id="dengan_medbed">Dengan MedBed, Anda dapat mencari kamar inap rumah sakit di sekitar Anda dengan cepat dan terekomendasi.</p>
      <a href="#isi-form" type="button" class="btn btn-cari-sekarang">Cari Sekarang</a>
    </div>
  </div>
  <div class="row" id="isi-form">
    <div class="col" id="form">
      <form action="" method="post">
        {% csrf_token %}
        <p class="masukkan_input">Masukkan Kelas Kamar</p>
        <div class="form-tingkat">{{ form.tingkat_kamar }}</div> <br><br>
        <p class="masukkan_input">Masukkan Lokasi</p>
        <div class="form-tingkat">{{ form.koordinat_awal }}</div>
        <button onclick="getLocation()" class="btn btn-lokasi">Gunakan Lokasi Saya</button>       
        <br>
        <input type="submit" class="btn btn-cari" value="Cari">
      </form>  
      <br>  
    </div>
  </div>
</div>

{% endblock content_block %}
