{% extends 'navbar.html' %}

{% block content_block %}
<a href="/" class="btn btn-kembali"> < Kembali</a>
<div class="container">
	<div class="row justify-content-md-center">
		<p id="rekomendasi-kami">Rekomendasi Kami</p><br>
	</div>
	<div class="row justify-content-md-center">
		<p id="rekomendasi-berdasarkan">Rekomendasi ini berdasarkan {{comment_sort}}</p>
	</div>
</div><br><br>

<form action="" method="post">
    {% csrf_token %}
    <table class="urut">
    	{{ form }}
	</table>
</form><br><br>

<div class="container">
	<div class="row">
	{% if rs_result %}
		{% for rs in rs_result %}
			<div class="col-12 col-sm-6 col-md-4 col-lg-3 card-square">
				<div class="card h-100">
					{% load static %}
					<img src="{% static 'images/' %}{{rs.3}}.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="no-rs">{{ forloop.counter }}.</h5>
						<div class="card-judul">
							<h5 class="card-title">{{rs.0}}</h5>
						</div>
						<div class="card-isi">
							<p class="card-text">Sisa {{rs.4}} Kamar • {{rs.1}}km • {{rs.5}} Kasus Aktif Kecamatan • Nilai Rekomendasi {{rs.6}}% </p>									 				
						</div>
						<br>
						<div class="row rute">
							<div class="col">
									<a href={{rs.2}} target="_blank" class="btn btn-rute">Rute GMaps</a>
							</div>
							<div class="col">
									<a href="/route/{{rs.7}}" target="_blank" class="btn btn-rute">Rute MedBed</a>
							</div>
						</div>
						<br><br>
						<a href= "/detail/{{rs.7}}" target="_blank" class="btn btn-detail">Lihat Detail Rumah Sakit</a>
					</div>
				</div>
			</div>
		{% endfor %}
	{% endif %}			
	</div>
  </div>

{% endblock content_block %}
