.tentang-kami{
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
  color: #262761 !important;
  margin-top: 3px;
  margin-left: 15px;
}

#welcome{
  margin-top: 80px;
}

#lindungi_diri{
  width: 547px;
  height: 144px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
  color: #6CC7B7;
}

#dengan_medbed{
  width: 486px;
  height: 108px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  letter-spacing: 0.15px;
  color: #262761;
}

#form{
  margin-top: 100px;
  padding: 100px 100px 100px 100px;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
  background-image: url("/src/images/square.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.masukkan_input{
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.121967px;
  color: white;
}

.btn-cari{
  background-color: #262761 !important;
  color : white !important;
  border: 0px;
  width: 186.2px;
  height: 35.78px;
  border-radius: 16.2623px !important;
  font-family: Nunito Sans;
  font-weight: 700 !important;
  font-size: 16.26px !important;
  margin-top: 5%;
}

.btn-cari-sekarang{
  background-color: #FCC453 !important;
  color : white !important;
  border: 0px;
  width: 194px;
  height: 44px;
  border-radius: 20px !important;
  font-family: Nunito Sans;
  font-weight: 700 !important;
  font-size: 20px !important;
  align-items: center;
  letter-spacing: 0.5px;
}

.btn-lokasi{
  font-family: Nunito Sans;
  font-weight: 200 !important;
  color: white !important;
  margin-top: 1% !important;
}

.btn-kembali{
  margin-left: 30px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 33px !important;
  align-items: center;
  letter-spacing: 0.15px;
  color: #262761 !important;
}

.card{
  margin-right: 0px !important;
  background-color: #F4F3F4 !important;
  border-radius: 16px !important;
  margin-bottom: 30px !important;
}

.card-square{
  margin-bottom: 20px;
}

.card-isi{
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #FCC453;
  margin-right: 10px;
  margin-left: 0px !important;
}

.card-judul{
  padding-bottom: 0px;
  block-size: 60px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  letter-spacing: 0.442956px;
  color: #9172B3;
}

#rekomendasi-kami{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 0.15px;
  color: #262761;
  margin-bottom: 10px;
}

#rekomendasi-berdasarkan{
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 0.15px;
  color: #6CC7B7;
}

.no-rs{
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #9172B3;
}

.btn-rute{
  color : #6CC7B7 !important;
  border: 1px solid #6CC7B7 !important;
  box-sizing: border-box;
  border-radius: 20px !important;
  font-family: Nunito Sans;
  font-weight: 700 !important;
  font-size: 12px !important;
  position: absolute;
  width: 90%;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
}

.btn-detail{
  color : #ffffff !important;
  background-color: #6CC7B7 !important;
  border: 0px !important;
  box-sizing: border-box;
  border-radius: 20px !important;
  font-family: Nunito Sans;
  font-weight: 700 !important;
  font-size: 12px !important;
  position: absolute;
  width: 85%;
}

.rute{
  margin-right: 2% !important;
}

#kami-mengimplementasi{
  font-family: Poppins !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 36px !important;
  line-height: 54px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  letter-spacing: 0.25px !important;
  color: #6CC7B7 !important;
  margin-top: 5% !important;
}

.nama-npm{
  font-family: Nunito Sans !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 20px !important;
  line-height: 27px !important;
  letter-spacing: 0.25px !important;
  color: #000000 !important;
  margin-left: 10%;
  margin-right: 10%;
}

.bawah{
  margin-left: 30%;
  margin-right: 30%;
}

.anggota{
  margin-top: 10% !important;  
  align-items: center !important;
  text-align: center !important;
}

#dibuat-dengan{
  font-family: Nunito Sans !important;
  font-style: normal !important;
  font-weight: 800 !important;
  font-size: 24px !important;
  color: #1A121B !important;
  margin-top: 8%;
}

.form-tingkat{
  align-items: center !important;
  text-align: center !important;
  align-self: center !important;
  align-content: center !important;
  margin-left: 25%;
}

.urut{
  font-family: Nunito Sans !important;
  margin-left: 50px !important;
  color: #262761 !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 18px !important;
}

#nama-rs{
  font-family: Poppins;
  font-style: normal;
  font-size: 32px;
  letter-spacing: 0.15px;
  color: #262761;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
}

#jumlah-kasus-rs{
  font-family: Nunito Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #FCC453;
}

alamat-rs{
  font-family: Nunito Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0.5px;
  text-align: left;
}

#no-telp-rs{
  font-family: Nunito Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0.15px;
  text-align: left;
  color: #FCC453;
}

#ketersediaan-kamar-title{ 
  font-family: Nunito Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0.15px;
  text-align: left;
  color: #4EA283;
}

.tingkat-title{
  font-family: Nunito Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.25px;
  text-align: left;
  color: #4EA283;
}

.jumlah-kamar{
  font-family: Nunito Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.25px;
  text-align: left;
  color: #1A121B;
}

.detail-container{
    
}